﻿<!DOCTYPE html>
<html>
<head lang="en">
</head>
<body>
    <div id="paypal-button"></div>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        paypal.Button.render({
            env: 'sandbox',
            payment: function (resolve, reject) {
                var CREATE_PAYMENT_URL = 'https://localhost:44397/Payment/CreatePayment';

                paypal.request.post(CREATE_PAYMENT_URL)
                    .then(function (data) { resolve(data.paymentID); })
                    .catch(function (err) { reject(err); });
            },
            onAuthorize: function (data) {
                var EXECUTE_PAYMENT_URL = 'https://localhost:44397/Payment/ExecutePayment';

                paypal.request.post(EXECUTE_PAYMENT_URL,
                    {
                        paymentID: data.paymentID,
                        payerID: data.payerID
                    })
                    .then(function (data) { /* Go to a success page */ })
                    .catch(function (err) { /* Go to an error page  */ });
            },
            onCancel: function (data, actions) {
                return actions.redirect();
            },
            onError: function (err) {
                // Show an error page here, when an error occurs
            }
        }, '#paypal-button');
    </script>


</body>
</html>
